:root{
    --text-color:#212121;
    --background-banner:#2F303A;
    --highlighting-color:#2196F3;
    --background-color:#E5E5E5;
    --descriptive-text:#757575;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--text-color);
}

/* GENERAL STYLES */

.button-cursor{
    cursor:pointer;
}

.list-style-none li{
    list-style: none;
}

/* HEADER */

.logo-link{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--highlighting-color);    
    text-decoration: none;
}

.toplinks a{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.toplinks a:link{
    color: var(--text-color);
}

.toplinks a:visited{
    color: var(--text-color);    
}

.toplinks a:hover{
    color: var(--highlighting-color);
}

.toplinks a:focus{
    color: var(--highlighting-color);
}

.toplinks a:active{
    color: var(--highlighting-color);
}

.toplinks-current a:link a:visited{
    color: var(--highlighting-color);
}



.address-links a{
    text-decoration: none;
    color: var(--descriptive-text);
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.address-links a:hover{
    color: var(--highlighting-color);
}

.address-links a:active{
    color: var(--highlighting-color);
}

.banner-top-title {
    background-color: var(--background-banner);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: white;
}

.banner-top-button button{
    background-color: var(--highlighting-color);
    color: white;
    border-style: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    /* identical to box height, or 188% */
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.banner-top-button button:hover{
    background-color: #188CE8;
}

/* MAIN */

.main-titles{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

/* --- howwedoit */

.howwedoit-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.descriptive-text{
    color: var(--descriptive-text);
}

/* --- whatwedo */

.whatwedo-img li{
    width: 370px;
}

/*  --- whoweare */

.whoweare{
    background: #F5F4FA;
}

.whoweare-img{
    width: 270px;
}

.whoweare-names{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    
}

.whoweare-career{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--descriptive-text);
}

/* FOOTER */

.banner-footer {
    background-color: var(--background-banner);
    color: white;
}

.address-text{
    font-style: normal;
}

/* ----------- */
/* PORTFOLIO */

.portfolio-button button{
    background-color: #F5F4FA;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    font-family: inherit;

}

.portfolio-button button:focus{
    background-color: var(--highlighting-color);
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.portfolio-button button:hover {
    background-color: var(--highlighting-color);
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.portfolio-button button:active{
    color: var(--highlighting-color);
}

.portfolio-img{
    width: 370px;
    background-color: #FFFFFF;
}

.portfolio-item-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2px;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
}

.portfolio-item-filter{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    letter-spacing: 0.03em;
    color: var(--descriptive-text);
}